<% if Venue.count > 0 %>

  <h1>Listing events</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Venue</th>
        <th>Started at</th>
        <th>Ended at</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @events.each do |event| %>
        <tr>
          <td><%= event.name %></td>
          <td><%= event.description %></td>
          <td><%= event.venue_id %></td>
          <td><%= event.started_at %></td>
          <td><%= event.ended_at %></td>
          <td><%= link_to 'Show', event %></td>
          <td><%= link_to 'Edit', edit_event_path(event) %></td>
          <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Event', new_event_path %>

<% else %>

  <h5>Please create venue first before creating new event</h5>

<% end %>